.void {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	position: relative;
	aspect-ratio: 1 / 1;
  }
  
  .cardList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	outline: 2px dotted magenta;
	z-index: 1;
  }
  
  .cardList:hover * {
	animation-play-state: paused;
  }
  
  .li {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	animation: rotateCW 40s cubic-bezier(0.000, 0.37, 1.000, 0.63) infinite;
  }
  
  .card {
	width: 27%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 24px;
	gap: 8px;
	background: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #535062;
	animation: rotateCCW 40s cubic-bezier(0.000, 0.37, 1.000, 0.63) infinite;
  }
  
  .a {
	text-decoration: none;
	color: unset;
  }
  
  .modelName {
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #3B2ED0;
	display: block;
  }
  
  @keyframes rotateCW {
	from {
	  transform: translate3d(0px, -50%, -1px) rotate(-45deg);
	}
	to {
	  transform: translate3d(0px, -50%, 0px) rotate(-315deg);
	}
  }
  
  @keyframes rotateCCW {
	from {
	  transform: rotate(45deg);
	}
	to {
	  transform: rotate(315deg);
	}
  }
  
  .centerCircle {
	position: absolute;
	width: 230px;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
  }
  
  .secondCircle {
	position: absolute;
	width: 40%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #F5F4FE;
	opacity: 0.5;
	border-radius: 50%;
  }
  
  .lastCircle {
	position: absolute;
	width: 66%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #F5F4FE;
	opacity: 0.25;
	border-radius: 50%;
  }
  
  .mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	background-image: radial-gradient(100% 50% at 100% 50%, rgba(60, 26, 229, 0.25) 0%, rgba(32, 26, 229, 0) 100%);
  }
  